@import '../variables/variables';
@import '../mixins/mixins';

#about {
    padding: 223px 0 298.2px;
    background: $head;

    .container {
        position: relative;
    }

    .shape_big {
        position: absolute;
        left: 179px;
        top: 100px;
    }

    .about_text {
        position: relative;

        h2 {
            @include fs(#fff, 48px, 900);
            line-height: 88px;
            padding-top: 20px;
        }

        p {
            @include fs(#fff, 21px, 400);
            line-height: 32px;
            padding-bottom: 27px;
        }

        a {
            padding: 29px 28px 23px 36px;
            @include fs(#fff, 21px, 900);
            border: 6px solid $pera;
            text-transform: uppercase;
            line-height: 28px;
            position: relative;
            z-index: 1;
            @include btnHover($pera);
        }

        .about_text_shape {
            position: absolute;
            left: 111px;
            bottom: -460.9px;
        }
    }

    .about_img {
        position: relative;

        .about_main {
            z-index: 2;
            position: relative;
        }

        .about_shape1 {
            position: absolute;
            right: 65px;
            top: -111px;
            z-index: 1;
            animation: move1 10s infinite alternate;
        }

        .about_shape2 {
            position: absolute;
            left: 270px;
            top: 70px;
            z-index: 1;
            transform: scale(1);
            animation: pulse 2s infinite;
        }

        .about_shape3 {
            position: absolute;
            right: 308px;
            bottom: -113px;
            z-index: 1;
            transform: scale(1);
            animation: pulse 2s infinite;
        }

        .about_shape4 {
            position: absolute;
            left: 130px;
            top: 0;
            z-index: 1;
        }
    }
}