@import '../variables/variables';
@import '../mixins/mixins';


#banner {
    padding: 80px 0 100px;

    .container {
        position: relative;
    }

    .bg_img {
        position: absolute;
        left: 0;
        top: -110px;
        z-index: -1;

        img {
            padding-left: 77px;
            height: 723px;
        }
    }

    .banner_text {
        padding-top: 70px;

        p {
            @include fs($pera, 30px, 400);
            text-transform: uppercase;
            line-height: 40px;
        }

        h1 {
            @include fs($head, 72px, 900);
            line-height: 88px;
        }

        a {
            border: 6px solid $pera;
            padding: 29px 24px 23px 36px;
            margin-top: 27px;
            @include fs($head, 24px, 900);
            text-transform: uppercase;
            line-height: 32px;
            position: relative;
            z-index: 1;
            @include btnHover();
        }
    }

    .banner_img {
        max-width: 820.95px;
        position: relative;
        right: -30px;
        img {
            width: 100%;
        }
    }
}