@import '../variables/variables';
@import '../mixins/mixins';

#latest_blog {
    padding: 323px 0 256px;

    .container {
        position: relative;
    }

    .team {
        padding: 35px 103px 42.7px 51.3px;
        background: $pera;
        position: absolute;
        left: 0;
        top: -490px;
        width: 100%;

        .team_text {
            h2 {
                @include fs(#fff, 48px, 900);
                line-height: 68px;
                padding-top: 24px;
            }

            p {
                @include fs(#fff, 21px, 400);
                line-height: 32px;
                padding-top: 10px;
            }

            a {
                padding: 29px 25px 23px 36px;
                border: 6px solid $head;
                @include fs(#fff, 21px, 900);
                line-height: 28px;
                text-transform: uppercase;
                margin-top: 16px;
            }
        }
    }

    .lastes_blog {

        .blog_left_arr,
        .blog_right_arr {
            border: 8px solid #F8F8F8;
            text-align: center;
            height: 100%;
            cursor: pointer;

            img {
                position: relative;
                top: 50%;
                transform: translateY(-50%)
            }
        }

        .blog_text {
            h2 {
                @include fs($head, 48px, 900);
                line-height: 62px;
                padding-bottom: 24px;
            }

            p {
                @include fs(#000, 21px, 400);
                line-height: 32px;
            }

            a {
                @include fs($head, 21px, 900);
                line-height: 62px;
                padding: 21px 24px 25px 36px;
                border: 6px solid $pera;
                text-transform: uppercase;
                margin-top: 30px;
                line-height: 28px;
            }
        }

        .blog_slider {
            position: relative;

            &:after {
                position: absolute;
                content: '';
                right: 285px;
                bottom: -100px;
                width: 553px;
                height: 161px;
                background: #F8F9FA;
                z-index: -1;
            }

            .row {
                display: flex;
            }

            .slick-dots {
                display: flex;
                position: absolute;
                left: 50%;
                bottom: -26px;
                li {
                    button {
                        font-size: 0;
                        width: 18px;
                        height: 6px;
                        position: relative;
                        background: $head;
                        border: 0;
                        margin: 0 5px;
                        cursor: pointer;
                        outline: 0;

                        &:after {
                            position: absolute;
                            content: '';
                            left: 6px;
                            top: -6px;
                            height: 18px;
                            width: 6px;
                            background: $head;
                        }
                    }
                    &.slick-active{
                        button{
                            background: $pera;
                            &:after{
                                background: $pera;
                            }
                        }
                    }
                }
            }
        }
    }
}