@import '../variables/variables';
@import '../mixins/mixins';

.main_menu {
    height: 143px;

    .menu_info{
        ul {
            li {
                a {
                    @include fs($pera, 21px, 400);
                    line-height: 28px;
                    margin-left: 37px;

                    span {
                        color: $cl3;
                    }
                }
            }
        }
    }
    #navbarSupportedContent {
        ul{
            li{
                a{
                    @include fs($head, 21px, 900);
                    text-transform: uppercase;
                    font-weight: 900;
                    margin-left: 36px;
                }
            }
        }
    }
}