@import '../variables/variables';
@import '../mixins/mixins';

.main_menu {
    height: 143px;

    .menu_info{
        ul {
            li {
                a {
                    @include fs($pera, 21px, 400);
                    line-height: 20px;
                    margin-left: 37px;

                    span {
                        color: $cl3;
                    }
                }
                &:nth-child(3),
                &:nth-child(4){
                    width: 28px;
                    height: 28px;
                    background: #395693;
                    border-radius: 50%;
                    text-align: center;
                    margin-left: 8px;
                    a{
                        margin-left: 0;
                    }
                }
                &:nth-child(4){
                    background: #0270AD;
                }
            }
        }
    }
    #navbarSupportedContent {
        ul{
            li{
                a{
                    @include fs($head, 21px, 900);
                    text-transform: uppercase;
                    font-weight: 900;
                    margin-left: 36px;
                }
            }
        }
    }
}