@import '../variables/variables';
@import '../mixins/mixins';

.main_menu {
    height: 143px;

    .menu_info{
        ul {
            li {
                a {
                    @include fs($pera, 21px, 400);
                    line-height: 20px;
                    margin-left: 37px;
                    display: flex;
                    flex-wrap: wrap;

                    span {
                        color: $cl3;
                    }
                }
                &:nth-child(1),
                &:nth-child(2){
                    a{
                        span{
                            margin-left: 10px;
                        }
                    }
                }
                &:nth-child(3),
                &:nth-child(4){
                    margin-left: 8px;
                    a{
                        margin-left: 0;
                    }
                }
            }
        }
    }
    #navbarSupportedContent {
        ul{
            li{
                a{
                    @include fs($head, 21px, 900);
                    text-transform: uppercase;
                    font-weight: 900;
                    margin-left: 36px;
                    padding: 0;
                    margin-top: 15px;
                }
            }
        }
    }
}
.menu_fix{
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    background: #ddd;
    z-index: 999;
    animation: menuAnimate 1s;
}

@keyframes menuAnimate{
    from{
        transform: translateY(-80px);
    }
    to{
        transform: translateY(0);
    }
}