@import '../variables/variables';
@import '../mixins/mixins';

#service{
    padding: 91px 0 122px;
    position: relative;
    .ser_shap{
        position: absolute;
        left: -100px;
        top: 0;
        z-index: -1;
        animation: move1 10s infinite alternate;
    }
    .container{
        position: relative;
        &:after{
            position: absolute;
            content: '';
            left: 0;
            bottom: -30px;
            width: 100%;
            height: 2px;
            background:#F0C331;
        }
    }
    .service_head{
        h2{
            @include fs($head, 48px, 900);
            line-height: 62px;
        }
        p{
            @include fs(#000, 21px, 400);
            line-height: 32px;
            padding-bottom: 45px;
        }
    }
    .ser_inner{
        padding: 85px 67px  89px 104px;
        text-align: center;
        border: 8px solid #F8F8F8;
        margin-bottom: 30px;
        background: #fff;
        
        h4{
            @include fs($head, 36px, 900);
            padding-top: 30px;
        }
        a{
            border: 6px solid $pera;
            padding: 21px 30px 25px 36px;
            margin-top: 27px;
            @include fs($head, 21px, 900);
            line-height: 28px;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            @include btnHover($pera);
        }
    }
}

